	<div class="page-container resume">
		<h3>Employment Experience Details</h3>
		<div class="row">
			<div class="col-xs-2 col-sm-1">
				Jun'17 - present
			</div>
			<div class="col-xs-10 col-xs-11">
				<div>
					<strong>Blue Star Sports: Full Stack Developer</strong> (Contractor)
				</div>
				<ul class="list-bullets">
					<li>
						Working on a large scale, multi-faceted SaaS product with a team of 9 other developers.  Daily tasks include bug-fixes and enhancement requests through JIRA. Used: <span class="color-software">Git,</span> <span class="color-language">PostgreSQL, PHP, JavaScript, HTML5/CSS3,</span> <span class="color-library">jQuery, Backbone, Knockout,</span> REST, <span class="color-software">npm, Sublime3</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-sm-1">
			Nov'12 - Jun'17
			</div>
			<div class="col-xs-10 col-xs-11">
			<div>
				<strong>InFocus Corporation: Full Stack Developer</strong>
			</div>
				<ul class="list-bullets">
					<li>
						Created new internal site for organization and documentation of processes and systems. Used: <span class="color-library">AngularJS</span>, <span class="color-language">HTML5/CSS3</span>, <span class="color-language">MySQL</span>,<span class="color-language"> SQL, PHP, </span><span class="color-library">CraftCMS</span>, <span class="color-software">PowerShell</span>
					</li>
					<li>
						Recently completed designing a partner order portal that will link to <span class="color-software">Dynamics AX</span> for order processing. This is highlighting <span class="color-library">AngularJS </span>to present price lists, product catalog, and manage a cart for checkout. <span class="color-language">SQL </span>stored procedures will be used to pull pricing and availability daily to provide up to date information to InFocus partners and resellers. Used: <span class="color-library">AngularJS</span>, <span class="color-language">HTML5/CSS3</span>, <span class="color-language">MySQL</span>,<span class="color-language"> SQL</span>
					</li>
					<li>
						Re-designed and deployed new InFocus website (www.infocus.com). Created a custom <span class="color-language">PHP </span>framework for an adaptive website (fully mobile compatible) including a content management system so the site can be maintained and updated by the marketing team. Used: <span class="color-language">PHP</span>, <span class="color-language">HTML5/CSS3S</span>, <span class="color-language">JavaScript, </span>and <span class="color-library">jQuery</span>.
					</li>
					<li>
						Completely redesigned the company database and customer registration system enabling live tracking of warranty obligation as well an external interface for customers to check warranty and registration status from the website. Data was moved from proprietary system to a universal MySQL database. Used: <span class="color-language">PHP</span>, <span class="color-language">MySQL</span>, <span class="color-language">HTML5/CSS3</span>, and <span class="color-language">JavaScript</span>.
					</li>
					<li>
						Developed internal employee website and partner website with secure SSL login and user system. Tools for order processing and status, internal help desk, knowledge base, and executive reporting. Used: <span class="color-language">PHP</span>, <span class="color-language">HTML/CSS</span>, <span class="color-language">JavaScript</span>, and<span class="color-language"> MySQL.</span>
					</li>
					<li>
						Re-developed reporting tools for sales supplying up to date information to the field. These tools automated pulling data from <span class="color-software">Dynamics AX </span>(using a complex set of stored procedures and queries), uploading to <span class="color-language">MySQL</span>, then output to <span class="color-language">HTML/CSS</span> on the internal site, as well as emailed out in spreadsheet form. Used: <span class="color-software">Dynamics AX, </span><span class="color-language">T-SQL</span>, <span class="color-language">MySQL</span>, <span class="color-language">HTML/CSS</span>, <span class="color-language">PHP</span>, <span class="color-library">jQuery</span>, and <span class="color-language">JavaScript</span>.
					</li>
					<li>
						Designed automated reporting for the Amazon web-store. Used: <span class="color-language">PHP </span>and <span class="color-language">MySQL</span>.
					</li>
					<li>
						Replaced a materials and funding request system with a custom tool build. Tool consisted of several parts. Front end external facing for the sales people to enter claims and requests. These requests would then be routed to the marketing team for approval or escalation. Used: <span class="color-language">PHP</span>, <span class="color-language">HTML/CSS</span>, <span class="color-language">JavaScript</span>, <span class="color-library">AngularJS</span>.
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-sm-1">
				May'06 - Nov'12
			</div>
			<div class="col-xs-10 col-xs-11">
			<div>
				<strong>InFocus Corporation: Call Center Supervisor</strong>
			</div>
			<ul class="list-bullets">
				<li>
					Designed a full call center CRM tool.  Agents had all product and procedure data no more than 2 clicks away.  Warranty status was checked automatically.  Used Fuzzy logic to locate alternate cases by the same customer. Used: <span class="color-software">Excel, Access,</span> <span color="color-language">VBA, MySQL</span>
				</li>
				<li>
					Implemented advanced reporting in Access that parsed data into 15 minute increments and tracked agent workflow, average handle time, and calculated time spent on a per product line basis. Used: <span class="color-software">Access, Excel</span>
				</li>
				<li>
					Changed the way customer policy and procedure; taking the company BBB rating from an F to an A+ in less than 1 year.
				</li>
				<li>
					Implemented Call Center coverage of internal level 1 & 2 IT issues freeing up the IT department for more advanced issues and upgrades.
				</li>
				<li>
					Spearheaded a custom <span class="color-software">Dynamics AX</span> class which linked CRM to order processing.  Overall time savings totaled greater than 40 hours per week.
				</li>
				<li>
					Added Chat support to the contact center in order to increase customer contact.
				</li>
			</ul>
			</div>
		</div>
	</div>
